@import "../common/vars";

.material-icons {
    cursor: pointer;
    user-select: none;
    color: #c9c9c9;
    font-size: 24px;
    padding: 0 5px;
    width: 42px;
    text-align: center;
    z-index: 1;
    &:hover {
        color: $active-text;
    }
}

.player {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
    }

    &__progress-area {
        background-color: #c9c9c9;
        height: 12px;
        position: relative;
        cursor: pointer;
    }

    &__progress-bar {
        pointer-events: none;
        background-color: $button-bg;
        height: 100%;
        width: 0;
        transition: width 0.3s ease;
    }

    &__timer,
    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__current,
    &__duration {
        pointer-events: none;
        font-size: 9.5px;
        position: absolute;
        left: 8px;
        bottom: 0;
    }
    &__duration {
        left: auto;
        right: 8px;
    }

    /*>───────────────────controls────────────────────<*/

    &__controls {
        margin: 0 15px;
        height: 60px;
        padding: 5px;
        background-color: #fff;
        border-bottom: 1px solid #dddddd;
    }

    &__left,
    &__track,
    &__track-controls,
    &__right,
    &__swiches {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__swiches i {
        font-size: 32px;
        display: flex;
    }

    &__track img {
        width: 50px;
        height: 50px;
        margin-right: -4px;
        cursor: pointer;
    }

    &__track-desc {
        max-width: 150px;
        overflow-x: hidden;
        font-size: 12px;
    }

    &__name {
        margin-bottom: 4px;
        font-weight: 700;
    }

    &__name:hover,
    &__artist:hover {
        cursor: pointer;
        color: $button-bg;
    }

    &__right {
        @media (width < 678px) {
            display: none;
        }
    }

    /*>───────────────────Volume────────────────────<*/

    &__volume {
        position: relative;
        display: inherit;

        &::after {
            content: "";
            position: absolute;
            top: -55px;
            height: 80px;
            width: 100%;
            display: none;
        }
        &:hover {
            &::after,
            .player__slider {
                display: flex;
            }
        }
    }

    &__slider {
        box-shadow: 0 15px 30px rgba(0,0,0,.2);
        background-color: $box-bg;
        border-radius: 20px 0px;
        width: 42px;
        height: 175px;
        padding: 20px 0;
        position: absolute;
        top: -220px;
        left: 0px;

        display: inherit;
        justify-content: center;
        display: none;
        z-index: 1;
    }

    &__slider-area {
        background-color: #c9c9c9;
        border-radius: 10px;
        cursor: pointer;
        width: 6px;
        height: 100%;

        display: inherit;
        align-items: center;
        flex-direction: column-reverse;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -5px;
            width: 16px;
            height: 1px;
            pointer-events: none;
            background-color: #c9c9c9;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -27px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent; 
            border-right: 5px solid transparent;
            border-top: 8px solid $box-bg;
        }
        &:hover .player__slider-bar {
            background-color: #ffcc00;
            &::after{
                border: 1px solid #ffcc00;
            }
        }
    }

    &__slider-bar {
        background-color: $button-bg;
        border-radius: inherit;
        width: 100%;
        height: 34%; // <-- Ползунок
        transition: height 0.3s ease;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            border: 1px solid #c8c7c7;
            background: $box-bg;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: absolute;
            top: -8px;
            left: -5px;
        }
        
    }

    /*>───────────────────player-bottom────────────────────<*/
}
