.material-icons{
    cursor: pointer;
    user-select: none;
    color: #c9c9c9;
    font-size: 24px;
    padding: 0 5px;
    &:hover {
        color: $active-text;
    }
}

.player {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    &__container {
        max-width: 1440px;
        padding: 0;
    }

    &__progress-area {
        background-color: #c9c9c9;
        height: 12px;
        position: relative;
        cursor: pointer;
    }

    &__progress-bar {
        pointer-events: none;
        background-color: $button-bg;
        border-radius: 0 5px 5px 0;
        height: 100%;
        width: 0;
    }

    &__timer,
    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__current,
    &__duration {
        pointer-events: none;
        font-size: 9.5px;
        position: absolute;
        left: 8px;
        bottom: 0;
    }
    &__duration {
        left: auto;
        right: 8px;
    }

    /*>───────────────────controls────────────────────<*/

    &__controls {
        margin: 0 15px;
        height: 60px;
        padding: 5px;
        background-color: #fff;
        border-bottom: 1px solid #dddddd;
    }

    &__left,
    &__track,
    &__track-controls,
    &__right,
    &__swiches {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__swiches {
        i {
            font-size: 32px;
            display: flex;
        }
    }

    &__track {
        img {
            width: 50px;
            height: 50px;
            margin-right: -4px;
            cursor: pointer;
        }
    }

    &__track-desc {
        max-width: 150px;
        overflow-x: hidden;
        font-size: 12px;
    }

    &__name {
        margin-bottom: 4px;
        font-weight: 700;
    }

    &__name:hover,
    &__artist:hover {
        cursor: pointer;
        color: $button-bg;
    }

    &__right {
        @media (width < 678px) {
            display: none;
        }
    }

    &__volume {
        span {
        }
    }

    /*>───────────────────player-bottom────────────────────<*/
}
