@import "../common/vars";
/* Общие стили */
.right,
.right-plist {
    padding: 0 20px;
}

.right {
    max-width: 480px;
    width: 100%;

    &__wrap {
        position: sticky;
        top: 30px;
    }

    &__ad {
        text-align: center;
        padding: 0 20px;
    }

    img {
        width: 300px;
        aspect-ratio: 3/1;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    &__our-pages {
        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            margin-top: 20px;
            text-transform: uppercase;
            color: $desc;
        }

        a {
            font-family: "Courier New";
            margin-top: 10px;
            font-size: 20px;
            padding: 10px 0;
            width: 67%;
            color: $box-bg;
            border-radius: 5px;
            background: linear-gradient(90deg, rgb(246, 139, 156), rgb(209, 111, 209));
        }
        a:hover {
            background: linear-gradient(90deg, rgb(139, 246, 150), rgb(59, 136, 225));
        }
    }
}

/* Playlist */
.right-plist__head {
    i {
        position: absolute;
        top: -10px;
        right: 20px;
        color: $active-text;
    }

    p {
        color: $notActive-text;
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 8px;
        width: 120px;
        cursor: pointer;
        &:hover {
            color: $active-text-border;
        }
    }
}

.right-plist__name {
    color: $active-text;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 400;
    &:hover {
        color: $active-text-border;
    }
}

.right-plist__update {
    font-size: 15px;
    color: $notActive-text;
    span {
        color: $active-text;
        cursor: pointer;
        &:hover {
            color: $active-text-border;
        }
    }
}

.right-plist__controls {
    margin: 20px 0 30px;
    user-select: none;

    button {
        background: transparent;
        border: 1px solid #aaa;
        margin-left: 5px;
        color: $active-text;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:first-child {
            background: $button-bg;
            border: none;
            margin-left: 0;
        }
    }
}

/* List */
.list {
    max-height: 66vh;
    overflow-y: auto;
    margin-bottom: 200px;

    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        font-size: 14px;
        padding: 0 20px;
        cursor: pointer;
    }

    &__line-left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__id {
        width: 15px;
        text-align: center;
        position: relative;
        i {
            margin-left: -10px;
            color: $active-text;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $button-bg;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
        i.active-pause {
            display: flex;
        }

        i.active-pause ~ span,
        i.active-play ~ span {
            display: none;
        }

        i.active-play {
            display: flex;
            color: transparent;
            animation: playAnim 0.6s ease infinite;
        }
    }

    &__track {
        display: flex;
        gap: 5px;
    }

    &__track-name {
        color: $active-text;
    }

    &__id-num,
    &__track-avtor,
    &__description {
        color: $notActive-text;
    }

    &__track-name:hover,
    &__track-avtor:hover {
        color: $active-text-border;
    }

    &__icons {
        display: none;
    }

    &__line:hover {
        .list__id i,
        .list__icons {
            display: flex;
        }

        .list__id-num,
        .list__description {
            display: none;
        }
    }

    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: #a0a0a0;
    }
}

@keyframes playAnim {
    50% {
        scale: 0.3;
    }
    0%,
    100% {
        scale: 0.45;
    }
}
