@import "../common/vars";

.right {
    min-width: 490px;
    max-width: 490px;
    padding: 20px 0;

    &__wrap {
        position: sticky;
        top: 30px;
        overflow-y: scroll;
    }

    &__ad {
        text-align: center;
        padding: 0 20px;
    }

    img {
        width: 300px;
        aspect-ratio: 3/1;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    &__our-pages {
        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            margin-top: 20px;
            text-transform: uppercase;
            color: $desc;
        }

        a {
            font-family: "Courier New";
            margin-top: 10px;
            font-size: 20px;
            padding: 10px 0;
            width: 67%;
            color: $box-bg;
            border-radius: 5px;
            background: linear-gradient(90deg, rgb(246, 139, 156), rgb(209, 111, 209));
        }
        a:hover {
            background: linear-gradient(90deg, rgb(139, 246, 150), rgb(59, 136, 225));
        }
    }
}

/*>───────────────────PlayList────────────────────<*/

.right-plist {
    padding: 0 20px;

    &__head {
        display: flex;
        flex-direction: column;

        i {
            position: absolute;
            top: -10px;
            right: 20px;
            color: $active-text;
        }

        p {
            color: $notActive-text;
            font-size: 13px;
            letter-spacing: 1px;
            margin-bottom: 8px;
            width: 120px;
            cursor: pointer;
            &:hover {
                color: $active-text-border;
            }
        }
    }

    &__name {
        color: $active-text;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 8px;
        font-weight: 400;
        &:hover {
            color: $active-text-border;
        }
    }

    &__update {
        font-size: 15px;
        color: $notActive-text;
        span {
            color: $active-text;
            cursor: pointer;
            &:hover {
                color: $active-text-border;
            }
        }
    }

    &__controls {
        margin: 20px 0 30px;
        user-select: none;

        button {
            background: transparent;
            border: 1px solid #aaa;
            margin-left: 5px;
            color: $active-text;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            &:first-child {
                background: $button-bg;
                border: none;
                margin-left: 0;
            }
        }
    }
}

/*>───────────────────List────────────────────<*/

.list {
    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        font-size: 14px;
        padding: 0 20px;
        cursor: pointer;
    }

    &__line-left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__id {
        width: 15px;
        text-align: center;
        position: relative;
        i {
            margin-left: -10px;
            color: $active-text;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $button-bg;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
    }

    &__id-num {
    }

    &__track {
        display: flex;
        gap: 5px;
    }

    &__track-name {
        color: $active-text;
    }

    &__track-avtor,
    &__description,
    &__id-num {
        color: $notActive-text;
    }
    &__track-avtor:hover,
    &__track-name:hover {
        color: $active-text-border;
    }

    &__right {
    }

    &__description {
    }

    &__icons {
        display: none;
    }

    &__line:hover {
        .list__icons,
        .list__id i {
            display: flex;
        }
        .list__description,
        .list__id-num {
            display: none;
        }
    }
}
