$text-type: #07C;
$text: #222;
$desc: #777;
$border: #e5e5e5;

$body-bg: #f6f5f3;
$box-bg: #fff;
$dark-bg: #111;

$active-text: #222;
$active-text-border: #FF3333;
$notActive-text: #808080;

$button-text: #000;
$button-bg: #ffdb4d;

$form-active: #00bcd4;
